.blogposts {
    max-width: 800px;
    margin: 60px auto;
}

.blogpost {
    text-decoration: none;
    color: black;

    display: block;

    padding: 30px;
    margin: 10px 0;

    &:hover {
        background: $sand;
    }
}

.blogpost:last-child {
    margin-bottom: 60px;
}


.blogpost-date {
    display: block;
    margin-bottom: 10px;
    opacity: .5;
}

.blogpost-title {
    font-size: 22px;
    margin: 0 0 5px 0;
}

.blogpost-excerpt {
    font-size: 16px;
    line-height: 1.5;
    opacity: .8;
}
