.button {
    display: inline-flex;

    max-width: 100%;
    padding: 10px 40px;

    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #fff;

    font-size: 16px;
    font-weight: bold;

    border: 2px solid black;


    outline: none;

    &:hover {
        opacity: .7;
    }

    @media (min-width: $medium) {
        padding: 10px 80px;
    }
}



.button--small {
    @extend .button;
    padding: 8px 40px;
    font-size: 14px;
}




// Light buttons
.button--border--light {
    background: none;
    border-color: white;
    color: white;

    &:hover {
        background: white;
        color: black;
        opacity: 1;
    }
}

.button--border--light_solid {
    background: white;
    border-color: white;
    color: black;

    &:hover {
        opacity: .7;
    }
}


// Dark buttons
.button--border--dark {
    background: none;
    border-color: black;
    color: black;

    &:hover {
        background: black;
        color: white;
        opacity: 1;
    }
}

.button--border--dark_solid {
    background: black;
    border-color: black;
    color: white;

    &:hover {
        opacity: .7;
    }
}


// Dark buttons
.button--border {
    background: none;

    //Themed
    @extend .font-main-color;
    @extend .border-main-color;

    &:hover {
        opacity: 1;

        //Themed
        @extend .font-main-color;
        @extend .border-main-color;
    }
}

.button--border--solid {
    @extend .bg-main-color;
    border-color: transparent;;

    &:hover {
        opacity: .7;
    }
}
