.header {
    padding-left: 60px;
    height: 150px;

    display: flex;
    align-items: center;

    position: fixed;
    width: 100%;
    z-index: 10;
}


body.fixed .header {
    margin: 0 auto;

    padding-left: 0;

    height: 80px;
    background: white;

    transition: height 200ms cubic-bezier(0.694,0.0482,0.335,1);
    left: 0;
    position: fixed;
}

body.fixed .nav-bar {
    transition: height 200ms cubic-bezier(0.694,0.0482,0.335,1);
    margin: 0 auto;
}


body.fixed .nav-link {
    color: black;

    &:hover,
    &--active {
        border-bottom-color: black;
    }
}


body.fixed .nav-link--home__text {
    font-size: 16px;

    &:after {
        width: 0;
    }
}
