.header {
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    align-items: center;

    position: fixed;
    width: 100%;
    z-index: 10;
}


body.fixed .header {
    margin: 0 auto;

    padding-left: 0;

    padding-top: 20px;
    padding-bottom: 20px;

    background: white;

    transition: padding 200ms cubic-bezier(0.694,0.0482,0.335,1);
    left: 0;
    position: fixed;
}



body.fixed .top-nav {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


body.fixed .nav-link {
    color: black;

    &:hover,
    &--active {
        border-bottom-color: black;
    }
}


body.fixed .nav-link--home__text {
    font-size: 16px;

    &:after {
        width: 0;
    }
}
