.header {
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    align-items: center;

    position: absolute;
    width: 100%;
    z-index: 10;
}

.header--fixed {

    padding-top: 20px;
    padding-bottom: 20px;

    background: white;

    transition: padding 200ms cubic-bezier(0.694,0.0482,0.335,1), background 200ms cubic-bezier(0.694,0.0482,0.335,1);
    left: 0;
    position: fixed;
}

.header--fixed .nav-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header--fixed .nav-link {
    color: black !important;

    &:hover,
    &--active {
        border-bottom-color: black !important;
    }
}

.header .hamburger {
    span,
    span:before,
    span:after {
        @extend .bg-secondary-color;
    }
}

.header--fixed .hamburger {
    span,
    span:before,
    span:after {
        background-color: black !important;
    }
}

@media(max-width: $medium) {

    .header .nav-bar {
        display: none;
    }

}

// style frontpage header
body.frontpage .header:not(.header--fixed) {

    .nav-link--home__text {
        &:after {
            background-color: white;
        }
    }

    .nav-link {
        color: white;
        &:hover,
        &--active {
            border-bottom-color: white;
        }
    }

    .hamburger {
        span,
        span:before,
        span:after {
            background-color: white;
        }
    }

}
body.fixed .top-nav.-open {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translate(0,0);
}
