nav {
    display: inline-flex;
    align-items: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin: 0 15px;

    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;

    border-bottom: 2px solid transparent;


    &:hover,
    &--active {
        box-shadow: inset 0 -2px 0 white;
    }
}

.nav-link--black {
    color: black;

    &:hover {
        box-shadow: inset 0 -2px 0 black;
    }

}

.nav-link--black.nav-link--active {
    box-shadow: inset 0 -2px 0 black;
}

.nav-link--home {
    font-size: 24px;
    font-weight: 900;

    margin-right: 40px;
    color: $sand;

    &:hover {
        box-shadow: none;
    }

}

.nav-link--home__text {
    position: relative;

    &:after {
        position: absolute;
        right: 0;
        display: block;
        content: "";
        height: 3px;
        width: 200%;
        background: white;
    }
}
