.nav-bar {
    display: inline-flex;
    align-items: center;

    flex-direction: row;

    @media (max-width: $medium) {
        flex-direction: column;
        align-items: center;
    }

}

.nav-bar--list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.nav-bar--center {
    display: flex;
    justify-content: center;
}

.nav-bar--air-bottom {
    margin-bottom: 40px;
}

.nav-link,
.nav-link:visited {
    text-decoration: none;
    margin: 10px 15px;

    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;

    border-bottom: 2px solid transparent;

    @extend .font-main-color;

    &:hover,
    &--active {
        @extend .border-main-color;
    }


    @media (min-width: $medium) {
        margin-left: 15px;
        margin-right: 15px;
    }

}

.nav-link--air-bottom {
    margin-bottom: 5px;
}

a.nav-link.nav-link--black {
    color: black;

    &:hover {
        border-color: black;
    }

}

.nav-link--black.nav-link--active {
    box-shadow: inset 0 -2px 0 black;
    @extend .border-main-color;
}

.nav-link--home {
    font-size: 24px;
    font-weight: 900;

    margin-right: 40px;
    color: $sand;

    &:hover {
        box-shadow: none;
    }

}

.nav-link--home__text {
    position: relative;

    &:after {
        position: absolute;
        right: 0;
        display: block;
        content: "";
        height: 3px;
        width: 200%;
        @extend .bg-secondary-color;
    }
}

    z-index: 5;