.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

.product {
    background-color: #cccccc;
    height: 300px;
    position: relative;
}

.product:hover {
    cursor: pointer;
}

.product--1 {
    flex: 1 1 25%;
    max-width: 25%;
}

.product--2 {
    flex: 2 1 50%;
    max-width: 50%;
}

.product--3 {
    flex: 3 1 75%;
    max-width: 75%;
}

.product--4 {
    flex: 4 1 100%;
    max-width: 100%;
}


.product__overlay {
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;
}

.product__name {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 5px;
    letter-spacing: 5px;
}

.product__price {
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
}
