.section {
    padding: 90px 20px;
}

/* colors */
.section--sand {
    background-color: $sand;
}

.section--themed {
    @extend .bg-main-color;
}

.section--stroke-bottom {
    border-bottom: 1px solid #F2F2F2;
}

/* layout */
.section--full-height {
    min-height: 100vh;
}

.section--header {
    min-height: 320px;
    padding-top: 130px;
}

.section--content-center {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.section--content-center-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.section--thick-border {
    border: 20px solid white;
}

body.front .section__hero-content {
    color: white;
}

.section__hero-content {
    max-width: 760px;
    padding: 0 20px;

    @extend .font-main-color;
}

.section__description {
    font-size: 18px;
    line-height: 1.5;

    margin-bottom: 60px;
}
