.section {
    padding: 90px 20px;
}
.section__title {
    text-transform: uppercase;
    letter-spacing: 12px;
    margin-left: 20px;
}

/* colors */
.section--sand {
    background-color: $sand;
}

.section--stroke-bottom {
    border-bottom: 1px solid #F2F2F2;
}

/* layout */
.section--full-height {
    height: 100vh;
}

.section--content-center {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.section--thick-border {
    border: 40px solid white;
}


.section__hero-content {
    max-width: 760px;
    padding: 0 20px;
    color: white;
}

.section__headline {
    font-size: 60px;
    text-transform: uppercase;
    margin: 0;
}

.section__description {
    font-size: 20px;
    line-height: 1.5;

    margin-bottom: 60px;
}
