.testimonial {
    text-decoration: none;
    color: black;

    display: block;
    padding: 30px;

    background: $sand;

    margin-bottom: 30px;

    @media (min-width: 992px) {
        padding: 40px;
    }
}

.testimonial-title {
    letter-spacing: 1px;
    margin: 0 0 10px 0;
}

p.testimonial-text {
    margin-top: 0;
    margin-bottom: 0 !important;
}
