/*

    Standard theme typography
    - Montserrat & Source Sans Pro

*/

@import url(https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro:400,700,300,600,600italic,400italic);


/*
    Examples
*/

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Source Sans Pro', sans-serif; */

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.source-sans-pro {
    font-family: 'Source Sans Pro', sans-serif;
}

body.theme-font-standard {
    @extend .source-sans-pro;

    .nav-link {
        @extend .source-sans-pro;
    }

    .nav-link.nav-link--home {
        @extend .montserrat;
    }

    h1, h2, h3, h4, h5, h6 {
        @extend .montserrat;
    }

    p {
        line-height: 1.6em;
        margin-bottom: 30px;
    }

}
