/*

    Standard theme colors

*/

$sand:    #F4F4F0; // Beige
$sun:     #F8E71C; // Yellow
$water:   #362BDC; // Blue
$rock:    #CCCCCC; // Rock
$earth:   #b1824b; // Earth




// Water theme
body.theme-color-water {
    .bg-main-color { background-color: $water; color: white; }
    .font-main-color { color: $water; }
    .border-main-color { border-color: $water; }
}


// Sun Theme
body.theme-color-sun {
    .bg-main-color { background-color: $sun; color: black; }
    .font-main-color { color: black; }
    .border-main-color { border-color: $sun; }
}


// Earth theme
body.theme-color-earth {
    .bg-main-color { background-color: $earth; color: black; }
    .font-main-color { color: $earth; }
    .border-main-color { border-color: $earth; }
}
