/*

    Umbraco Community Styles

*/

* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}


html, body {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/**
    Defaults
    – Import default styles
*/
@import "_normalize";
@import "components/grid";


/**
    Themes
    – Different themes for the kit
*/
/* Colors */
@import "themes/colors/standard";


/* Typography */
@import "themes/typography/standard";



/**
    Templates
    – Styles for specific templates
*/



/**
    Componenets
    – Component styling
*/
@import "components/product";
@import "components/product-grid";
@import "components/header";
@import "components/footer";
@import "components/logo";
@import "components/navigation";
@import "components/section";
@import "components/background-image";
@import "components/overlay";
@import "components/buttons";
@import "components/blogposts";
@import "components/testimonials";


/**
    Helpers
    – Classes or functions to help
*/
@import "helpers/text-align";
@import "helpers/widths";
@import "helpers/air";
